# Introduction to Python:
Python is a programming language which is :
- General-purpose
- Interpreted
- Object Oriented 
- High-Level
- Dynamically-typed
- Supports Procedural-programming
- Supports Multi-Threading

Guido Van Rossum created python in 1989 named his favourite show "Monty Python's Favourite Circus".

Python is not backward-compatible with earlier versions like JAVA.
e.g. Python 3.x might not be compatible with Python 2.y.

### Getting Started : Basic Arithmetic Operations
Done on IDLE

In [1]:
2+3 #Addition

5

In [2]:
9-8 #Subtraction

1

In [3]:
4*6 #Mutplication

24

In [4]:
5/2 #Float Division

2.5

In [5]:
5//2 #Int Division

2

In [6]:
2**3 #Exponent

8

In [7]:
10%3 #Modulus

1

In [8]:
(8+2)*3 #BODMAS

30

### Strings :

In [9]:
'aditya' #Single quote also gets printed

'aditya'

In [10]:
print('aditya') #pass parameter

aditya

In [11]:
print("aditya's laptop")

aditya's laptop

In [12]:
print('aditya "laptop"')

aditya "laptop"

In [13]:
print('aditya\'s "laptop"') #\ is used to ignore special meaning of '

aditya's "laptop"

In [14]:
'aditya'+'aditya' #concatenating

'adityaaditya'

In [15]:
'aditya'*10

'adityaadityaadityaadityaadityaadityaadityaadityaadityaaditya'

In [16]:
print('c:\docs\navin') #\n stands for newline escape-sequence

c:\docs
avin

In [17]:
print(r'c:\docs\navin') #Raw String prints as it is. Ignore escape sequence
print(r"navin's 'Laptop'")

c:\docs\navin
navin's 'Laptop'

### Variables in Python :
- Python is a Dynamically-Typed Language. We do not have to specify data type of Variables.
- Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data.
- Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

Standard/Built-in Data Types in Python :
![Data-types](https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg)

In [18]:
x = 2 # Variable is container. #x is the name of the container.

In [19]:
y = 3 # Assignment Variables. Value of variables can be changed
x = 5 #int data-type
print(x+y, type(x+y))

8 <class 'int'>

#### Strings :

In [20]:
name = 'youtube' #str Data-type. 
#String is an array of characters. Unlike C, it doesn't have null character '\0' at the end.
print(name + 'rocks', type(name))

youtuberocks <class 'str'>

In [21]:
print(name[0]) #indexing starts from 0
print(name[6])

y
e

In [22]:
print(name[-1]) # Stars from right to left
print(name[-7])

e
y

In [23]:
name[0:2] #last index is exclusive

'yo'

In [24]:
name[2:5]

'utu'

In [25]:
name[1:]

'outube'

In [26]:
name[:5]

'youtu'

In [27]:
name[3:10] #No error, defaults to last index

'tube'

In [28]:
#name[0] = 'a' # gives error. Strings are immutable.

In [29]:
print(len(name)) #in-built function in class str

7

#### Lists :
- Lists are mutable, can be changed
- Lists can have non-homogeneous data
- Lists are denoted by '[ ]'

In [30]:
nums = [25,12,36,95,14]

In [31]:
nums[2:]

[36, 95, 14]

In [32]:
nums[-1]

14

In [33]:
names = ['navin','kiran','jhon']
print(type(names))

<class 'list'>

In [34]:
values = [9.5, 'Aditya', 25]
print(values)

[9.5, 'Aditya', 25]

In [35]:
mil = [nums,names] #2D List
print(mil)

[[25, 12, 36, 95, 14], ['navin', 'kiran', 'jhon']]

In [36]:
nums.append(45) #.appends inserts as last
print(nums)

[25, 12, 36, 95, 14, 45]

In [37]:
nums.insert(2,77) #inserts at given index. .insert(idx,item)
print(nums)

[25, 12, 77, 36, 95, 14, 45]

In [38]:
nums.remove(14) #removes item. remove(item)
print(nums)

[25, 12, 77, 36, 95, 45]

In [39]:
nums.pop(1) #pop item at idx 1 .pop(idx)
print(nums)

[25, 77, 36, 95, 45]

In [40]:
nums.pop() #pop without arguement removes last item
print(nums)

[25, 77, 36, 95]

In [41]:
del nums[2:] # delete multiple items
print(nums)

[25, 77]

In [42]:
nums.extend([29,12,14,36]) #add multiple items
print(nums)

[25, 77, 29, 12, 14, 36]

In [43]:
print(nums,min(nums),max(nums), len(nums))

[25, 77, 29, 12, 14, 36] 12 77 6

In [44]:
print(sum(nums))

193

In [45]:
nums.sort() #Sort function
nums

[12, 14, 25, 29, 36, 77]

#### Tuple :
- Tuples is like list but immutable
- It is an ordered collection of items
- Use paranthesis to define a tuple
- Since we don't change values in tuple, iterations is faster in tuple in list.

In [46]:
tup = (21,36,14,25)

In [47]:
tup[1]

36

In [48]:
#tup[1] = 33 #Error : tuple object does not support item assignment

In [49]:
tup1 = (1,2,4,6,3,6,9,2,6,8,4,4,4,12,7,92,7)

In [50]:
tup1.count(4) # returns the occurence of an item. Also in list

4

In [51]:
tup1.index(4)  # return index of item. from 0 to last, it returns index of first occurence

2

#### Set :
- Set data structure is also non-homogeneous data structure but unordered.
- Set can be represented by { }
- Set will not allow duplicate elements
- Set is mutable i.e we can make any changes in set.

In [52]:
s = {3,1,6,7,5}
print(s) #looks like set is sorted.

{1, 3, 5, 6, 7}

In [53]:
s = {2,6,5,7,2,9,8,9,9,9,9}
print(s) #Uses a concept of hash

{2, 5, 6, 7, 8, 9}

In [54]:
s #press tab to view all method and attributes.

{2, 5, 6, 7, 8, 9}

In [55]:
# s[2] set does not support indexing

### Help Section in Python :

In [56]:
#help()

### Memory Management in Python :
**Memory has two parts stack memory and heap memory :-**
- Stack Memory : all the methods/method calls , references(variables) are store in stack memory.
- Heap Memory : all the objects are stored in heap.

Unlike in other programming languages , in python whenever a variable is assigned a value , the python memory manager will check if an object with that value is already available in the memory . If object is already present in memory , then this variable points to that object instead of creating a new object with the same value.

If object with that value is not available in memory(heap) , python memory manager will create a new object with the specified value and this variable will point to this newly created object on heap(memory).


**Variables in Python are not buckets that contain things, but pointers: variables point to objects.**
- In Python, everything is an Object. 
- Variable names are just tokens to refer to that Object.

In python , all objects are derived from PyObject a struct which has two properties reference count and pointer to the object.

**Garbage Collector :**
Python uses below 2 algorithms for garbage collection (Deleting Un-used objects):

- Reference counting : Reference counting is a simple technique in which , whenever the reference count of an object reaches to “0” , then it is eligible for garbage collection and the memory allocated for that object is automatically de-allocated.

- Generational garbage collection : All python objects are categorized into 3 generations. Each generation has a predefined threshold , threshold is nothing but it is an indicator for garbage collector on when to invoke garbage collection.

In [57]:
x = 10 #int object with value 10 is allocated memory. var x points to it.
y = x #y points to x, x points to 10, thus y points to 10.
z = 10 #An object with value 10 already exists therefore, z also points to the same 10 that x is pointing

print(id(x), id(10), id(y), id(z))

2620442477072 2620442477072 2620442477072 2620442477072

In [58]:
x += 1 #11 is a new object with value 11. x points to a new object.
# But y still points to 10
print(id(x), id(10), id(y), id(z))
print(y)

2620442477104 2620442477072 2620442477072 2620442477072
10

### Assignments only points a variable to an object. Assignments don't copy anything :

In [59]:
x = [1,2,3] #Both refer to same location in memory.
y = x 
print(x==y)
print(id(x),id(y))

True
2620520870656 2620520870656

In [60]:
x.append(4)
print(x,y)
print(x==y)
print(id(x),id(y))

[1, 2, 3, 4] [1, 2, 3, 4]
True
2620520870656 2620520870656

### Making copies of Objects in Python :
=, copy(), deepcopy()

In [61]:
list1 = [1,2,3,4]
list2 = list1
print(list1,list2)

[1, 2, 3, 4] [1, 2, 3, 4]

In [62]:
list2[1] = 100 #Value got changed in both of them. Both variables pointing to same object
print(list1,list2)

[1, 100, 3, 4] [1, 100, 3, 4]

In [63]:
list1 = [1,2,3,4]
list2 = list1.copy()
print(list1==list2) #Because all elements are equal
print(id(list1),id(list2))

True
2620520873024 2620520791232

In [64]:
list2[0] = 500
print(list1,list2) #Two different objects

[1, 2, 3, 4] [500, 2, 3, 4]

In [65]:
list1 = [[1,2,3,4],[5,6,7,8]]
list2 = list1.copy()
print(list1,list2)
print(id(list1),id(list2)) #Object ids Different

[[1, 2, 3, 4], [5, 6, 7, 8]] [[1, 2, 3, 4], [5, 6, 7, 8]]
2620520930624 2620520929088

In [66]:
list1[1][0] = 1000
print(list1,list2) #Even though we used shallow-copy .copy() method, it

[[1, 2, 3, 4], [1000, 6, 7, 8]] [[1, 2, 3, 4], [1000, 6, 7, 8]]

In [67]:
id(list1)==id(list2) #Have Different object Ids.

False

In [68]:
id(list1[1]),id(list2[1]) #Sub-lists have same Id

(2620520930560, 2620520930560)

**Both Lists list1 and list2 point to same sub-lists. id(list1)!=id(list2)**

In [69]:
import copy
list1 = [[1,2,3,4],[5,6,7,8]]
list2 = copy.deepcopy(list1)
print(id(list1),id(list2)) # Different ids of lists because different objects.
print(list1,list2)

2620520926976 2620520873024
[[1, 2, 3, 4], [5, 6, 7, 8]] [[1, 2, 3, 4], [5, 6, 7, 8]]

In [70]:
list1[1][0] = 1000
print(id(list1[1]),id(list2[1])) # Different ids sub-lists because different objects.
print(list1,list2)

2620520872576 2620520463296
[[1, 2, 3, 4], [1000, 6, 7, 8]] [[1, 2, 3, 4], [5, 6, 7, 8]]

### How is Python Interpreted?
![Python Interpreter](https://i.ytimg.com/vi/VsjJfaUdFO8/maxresdefault.jpg)

First, Python interpreter receives python source code, abc.py.
1. Lexing : An analyzer called Lexer moves through your code looking at each character, and trying to create tokens out of them which is handed over to the Parser.
2. Parsing : The generated token will be parsed by the Parser.
3. Compiling : The compiler present inside the python interpreter compiles and generated Byte Code (intermediate language code) abc.pyc (python class file). Compilation takes place during runtime.

The .pyc file , created in compilation step, is then executed by appropriate virtual machines. The Virtual Machine just a big loop that iterates through your byte code instructions, one by one, to carry out their operations. The Virtual Machine is the runtime engine of Python and it is always present as part of the Python system, and is the component that truly runs the Python scripts .

### Datatypes in Python :
- None (If we have an unassigned variable, its value is None)
- Numeric :
    - int
    - float
    - complex
    - bool
- Sequence :
    - List
    - Tuple
    - Set
    - Dictionary
    - String
    - Range

In [71]:
num = 2.5
print(type(num))

<class 'float'>

In [72]:
num = 6+9j #Python uses j instead of i
print(type(num))

<class 'complex'>

In [73]:
a = 3
b = 4
c = complex(a,b)
print(c)

(3+4j)

In [74]:
bool_var = int(a<b)
print(bool_var)

1

In [75]:
char = 'a'
type(char) #No char data type in Python

str

In [76]:
Range = range(0,10)
print(type(Range))

<class 'range'>

In [77]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
print(list(range(2,20,3))) #3rd arguement is denotes the skip

[2, 5, 8, 11, 14, 17]

In [79]:
d = {1:'Monday', 2 : 'Tuesday', 3: 'Wednesday'}
print(d.keys())
print(d.values())

dict_keys([1, 2, 3])
dict_values(['Monday', 'Tuesday', 'Wednesday'])

In [80]:
print(d.get(2))

Tuesday

### Operators in Python :
- Arithemetic (+,-,*,/,%,**,.etc)
- Assignment (=)
- Relational (<,>,==,!=,<=,>=)
- Logical (and, or, not)
- Unary

In [81]:
x = 4
x *= 3
print(x)

12

In [82]:
a,b = 5,6

In [83]:
a<8 and b <5

False

### Number System Conversion :

In [84]:
bin(25) #dec to binary #0b denotes binary

'0b11001'

In [85]:
0b101

5

In [86]:
oct(25) #dec to octal #0c denotes octal

'0o31'

In [87]:
hex(25) #dec to hex #0x denotes hex

'0x19'

In [88]:
0xf

15

In [89]:
0b110011010

410

### Bitwise-Operators :
- COMPLEMENT (~)
- AND (&)
- OR (|)
- XOR (^)
- LEFT SHIFT (<<)
- RIGHT SHIFT (>>)

In [90]:
 ~12 #00001100
    # 1's complement of 12 : 11110011
    # 1's complement of 13 : 11110010
    # Add 1 to it          : 11110011
 # we can see 1's complement of 12 == 2's of 13 == -13 in binary

-13

In [91]:
12 & 13 #Bitwise AND
# 12 in binary : 00001100
# 13 in binary : 00001101
# AND Operation : 00001100

12

In [92]:
12 | 13

13

In [93]:
print(25 & 30)
print(bin(25))
print(bin(30))

24
0b11001
0b11110

In [94]:
# XOR 
# 0 , 0 -> 0
# 0 , 1 -> 1
# 1 , 0 -> 1
# 1 , 1 -> 0
print(12^13)
print(bin(12^13))
print(bin(12))
print(bin(13))

1
0b1
0b1100
0b1101

In [95]:
#Left Shift : Number << No. of bits to shift to left
num = 10 << 1
print(num)
print(bin(num))

20
0b10100

In [96]:
#Right Shift : Number >> No. of bits to shift to right
num = 10 >> 1
print(num)
print(bin(num))

5
0b101

### Math functions :

In [97]:
import math

In [98]:
x = math.sqrt(25)
print(x)

5.0

In [99]:
print(math.floor(2.5))
print(math.ceil(2.5))

2
3

In [100]:
print(math.pow(3,2))

9.0

In [101]:
print(math.pi)

3.141592653589793

In [102]:
print(math.e)

2.718281828459045

In [103]:
from math import sqrt, pow

In [104]:
sqrt(1024)

32.0

In [105]:
help('math')

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

### Conditionals :

In [106]:
#Find largest number among 3 numbers:
a = int(input()) #By default input is taken as str
b = int(input())
c = int(input())
max = a
if b>max :
    max = b
elif c>max :
    max = c
else :
    pass
print(max)

5
8
9
8

### While Loop :

In [107]:
i=j=1

In [108]:
while i<=5:
    print("Keras ",end="")
    j=1
    while j<=4:
        print("Rocks ",end="")
        j+=1
   
    i+=1
    print()

Keras Rocks Rocks Rocks Rocks
Keras Rocks Rocks Rocks Rocks
Keras Rocks Rocks Rocks Rocks
Keras Rocks Rocks Rocks Rocks
Keras Rocks Rocks Rocks Rocks

### For Loop :

In [109]:
list1 = [2,'Hello',5.6]

In [110]:
for x in list1:
    print(x)

2
Hello
5.6

In [111]:
for i in range(5):
    print(i)

0
1
2
3
4

In [112]:
for i in range(2,21,2):
    print("{} ".format(i),end="")

2 4 6 8 10 12 14 16 18 20

In [113]:
for j in range(20,10,-1):
    print("{} ".format(j),end="")

20 19 18 17 16 15 14 13 12 11

### Break, Pass and Continue :

In [114]:
av = 5
x = int(input("How many candies do you want?"))
i = 1
while i<=x:
    if i>av:
        print("Out of stock")
        break #Breaks out of loop
    print("Candy")
    i+=1
print("Bye")

How many candies do you want?5
Candy
Candy
Candy
Candy
Candy
Bye

In [115]:
# Lets print all numbers from 1-20 but not those divisible by 3
for i in range(1,21):
    if i%3==0:
        continue #whenever continue is encountered, current iteration of loop is skipped
    print("{} ".format(i),end="")
print("Bye")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 Bye

In [116]:
#Exercise : Print following patterns :

In [117]:
for i in range(4):
    print("{} ".format("#")*4,end="")
    print()

# # # #
# # # #
# # # #
# # # #

In [118]:
for i in range(1,5):
    print("{} ".format("#")*i,end="")
    print()

#
# #
# # #
# # # #

In [119]:
for i in range(1,5):
    print("{} ".format("#")*(5-i),end="")
    print()

# # # #
# # #
# #
#

### Advanced String Methods :
- Python format() function has been introduced for handling complex string formatting more efficiently. This method of the built-in string class provides functionality for complex variable substitutions and value formatting.

In [120]:
#Single Formatter
print("{}, A computer science portal for geeks.".format("GeeksforGeeks"))

GeeksforGeeks, A computer science portal for geeks.

In [121]:
#Multiple Formatters
my_string = "{}, is a {} science portal for {}"
 
print(my_string.format("GeeksforGeeks", "computer", "geeks"))

GeeksforGeeks, is a computer science portal for geeks

In [122]:
#Formatters with Positional and Keyword Arguments
print("Every {0} should know the use of {1} {2} programming and {3}"
      .format("programmer", "Open", "Source", "Operating Systems"))

Every programmer should know the use of Open Source programming and Operating Systems

In [123]:
#Using f'strings
name = 'Tushar'
age = 23
print(f"Hello, My name is {name} and I'm {age} years old.")

Hello, My name is Tushar and I'm 23 years old.